@charset "utf-8";

@font-face {
  font-family: "GmarketSans-L";
  src: url("../fonts/GmarketSansLight.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans-M";
  src: url("../fonts/GmarketSansMedium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaas-L";
  src: url("../fonts/NeueHaasDisplayLight.ttf") format("ttf");
}
@font-face {
  font-family: "NeueHaas-R-Italic";
  src: url("../fonts/NeueHaasDisplayRomanItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Cormorant-Garamond-B-Italic";
  src: url("../fonts/CormorantGaramond-BoldItalic.ttf") format("ttf");
}
@font-face {
  font-family: "SoakUpTheSunScript";
  src: url("../fonts/SoakUpTheSunScript.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Splash";
  src: url("../fonts/Splash-Regular.ttf") format("ttf");
}
