.footer {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f8f8f4;
}
.footer .inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
}
.footer-text {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.footer-text p {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 30px;
}
.footer-text .contact-us {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-text .contact-us a {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
}
.footer-text .contact-us a span {
  font-size: 96px;
}
.footer-text .contact-us a img {
  position: absolute;
  top: 70px;
  left: 600px;
  transition: transform 0.6s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.footer-text .contact-us a:hover img {
  transform: rotate(360deg);
}
.footer-info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-info .text {
  position: relative;
  display: flex;
  flex-direction: column;
}
.footer-info .text p {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.footer-info .text span {
  font-size: 16px;
  font-family: "gmarketSans-M", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
}
.footer-info span {
  font-size: 16px;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-style: italic;
  font-weight: 400;
}
/* 모바일 반응형 (768px 이하) */
@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .footer {
    height: auto;
  }

  .footer .inner {
    padding: 56px 24px;
    height: auto;
    gap: 56px;
  }

  .footer-text {
    gap: 24px;
    height: auto;
    align-items: baseline;
  }

  .footer-text p {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-text .contact-us {
    height: auto;
  }

  .footer-text .contact-us a {
    height: auto;
  }

  .footer-text .contact-us a span {
    font-size: 32px;
    line-height: 44px;
  }

  .footer-text .contact-us a img {
    position: absolute;
    top: 20px;
    left: 220px;
    transition: transform 0.6s cubic-bezier(0.4, 0.2, 0.2, 1);
  }

  .footer-info {
    display: block;
  }

  .footer-info .text {
    display: block;
  }

  .footer-info .text p {
    font-size: 16px;
    line-height: 24px;
  }
  .footer-info .text span {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-info span {
    font-size: 16px;
    line-height: 24px;
  }
}
