@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: auto;
  min-height: 100%;
}
body {
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  font-family: "GmarketSans-L", sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.5;
  color: #000;
  letter-spacing: -0.23px;
  text-size-adjust: 100%;
  overscroll-behavior: none;
}

ul,
li {
  list-style: none;
}
a {
  display: block;
  color: #000;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
