@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "GmarketSans-L", sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: #000;
  line-height: 1.5;
  letter-spacing: -0.23px;
  text-size-adjust: 100%;
  overflow-x: hidden;
  background-color: #fff;
  height: 100%;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}
img {
  border: 0;
  vertical-align: middle;
}
