:root {
  --font-1-font-family: "Cormorant Garamond", sans-serif;
  --font-1-font-weight: 400;
  --font-1-font-size: 16px;
  --font-1-letter-spacing: 0px;
  --font-1-line-height: normal;
  --font-1-font-style: normal;
  --font-2-font-family: "Hakgyoansim Allimjang TTF", sans-serif;
  --font-2-font-weight: 400;
  --font-2-font-size: 16px;
  --font-2-letter-spacing: 0px;
  --font-2-line-height: normal;
  --font-2-font-style: normal;
  --font-3-font-family: "Pretendard", sans-serif;
  --font-3-font-weight: 400;
  --font-3-font-size: 16px;
  --font-3-letter-spacing: 0px;
  --font-3-line-height: normal;
  --font-3-font-style: normal;
  --font-4-font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  --font-4-font-weight: 300;
  --font-4-font-size: 16px;
  --font-4-letter-spacing: 0px;
  --font-4-line-height: normal;
  --font-4-font-style: normal;
  --font-5-font-family: "Continuous", sans-serif;
  --font-5-font-weight: 400;
  --font-5-font-size: 16px;
  --font-5-letter-spacing: 0px;
  --font-5-line-height: normal;
  --font-5-font-style: normal;
}
